* {
  margin: 0;
  padding: 0
}

.App {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #131a27;
  text-align: center;
}

.pie-container {
  margin: 40px auto;
  max-width: 500px;
  width: 70%
}

.values-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.values-container > * {
  text-align: left;
  width: 500px;
}