* {
  margin: 0;
  padding: 0
}

.App {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #131a27;
  text-align: center;
}

h1 {
  padding-top: 40px;
}

.pie-container {
  margin: 40px auto;
  max-width: 500px;
  width: 70%
}

.values-container {
  border: 2px rgb(100, 100, 105) solid;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 350px;
  flex-wrap: wrap;
}

.values-container > * {
  text-align: left;
  width: 400px;
  border: 2px rgb(100, 100, 105) solid;
  margin: 10px;
  font-size: 20px;
}

.values-container > * > * {
  margin: 10px;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.bar-background {
  height: 10px;
  width: 380px;
}

.bar-foreground {
  height: 10px;
  width: 60%;
}